.Banner{
    background-image: url('https://firebasestorage.googleapis.com/v0/b/webii-1e064.appspot.com/o/cultura-profetica.jpg?alt=media&token=9d268887-a2b4-494f-8c0b-7bf4a8951b17');
    background-position: top center;
    background-size: cover;
    padding: 5% 20% 30% 20%;
   

}